<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div class="h3 fw-bold text-danger">Add Contact</div>
            <p class="fst-italic">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente corrupti ipsam numquam, sit officiis veritatis minus placeat beatae quod vero maxime et dignissimos adipisci facilis ea, animi voluptatem dolor incidunt.</p>
        </div>
    </div>
</div>

<!-- Loading Spinner -->
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<!-- Error Message -->
<div *ngIf="!loading && errorMessage">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
            </div>
        </div>
    </div>
</div>

<!-- Create Contact Form -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form ngNativeValidate (submit)="createSubmit()">
                <div class="mb-2">
                    <input [(ngModel)]="contact.name" class="form-control" name="name" placeholder="Name" required="true" type="text">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.photo" class="form-control" name="photo" placeholder="Photo Url" required="true" type="text">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.email" class="form-control" name="email" placeholder="Email" required="true" type="email">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.mobile" class="form-control" name="mobile" placeholder="Mobile" required="true" type="number">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.company" class="form-control" name="company" placeholder="Company"  required="true" type="text">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.title" class="form-control" name="title" placeholder="Title" required="true" type="text">
                </div>
                <div class="mb-2">
                    <select *ngIf="groups.length > 0" [(ngModel)]="contact.groupId"  class="form-control" name="groupId" required="true">
                        <option value="" disabled>Select a Group</option>
                        <option [value]="group.id" *ngFor="let group of groups">{{group.name}}</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input class="btn btn-danger" value="Create" type="submit">
                    <a routerLink="/" class="btn btn-dark ms-2">Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img [src]="contact.photo" alt="" class="contact-img">
        </div>
    </div>
</div>